body {
    margin: 0;
    padding: 0;
    background: url("../sprites/background/pagePrincipale.png") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    margin-top: 5%;
}   

.logo {
    width: 400px;
    margin-bottom: 40px;
}

.btn {
    display: inline-block;
    margin: 60px;
    padding: 15px 30px;
    width: 230px;

    background: linear-gradient(145deg, #c9a43a, #f4d67a, #b58b2a);
    border: 3px solid #8f6a1b;
    border-radius: 15px;

    box-shadow:
        inset 0 0 10px rgba(255, 225, 150, 0.8),
        0 0 15px rgba(0, 0, 0, 0.4);

    font-family: "Cinzel", serif; 
    font-size: 22px;
    letter-spacing: 2px;
    color: #3b2200;
    font-weight: bold;
    text-align: center;
    text-decoration: none;

    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    background: linear-gradient(145deg, #ffeb99, #f7d87c, #d1aa3c);
    border-color: #b78925;
    box-shadow:
        inset 0 0 15px rgba(255, 240, 190, 1),
        0 0 20px rgba(255, 200, 80, 0.9);
    transform: scale(1.05);
}
/*Page 404*/
 .error-container {
    margin-top: 0%;
    text-align: center;
    color: #f8e6b8;
    text-shadow: 0 0 10px rgba(0,0,0,0.8);
    background: rgba(0,0,0,0.55);
    display: inline-block;
    padding: 10px 50px;
    border: 4px solid #8f6a1b;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.7),
    inset 0 0 25px rgba(255, 225, 150, 0.3);
}

.error-title {
    font-size: 70px;
    font-family: "Cinzel", serif;
    margin-bottom: 20px;
    color: #ffe9a3;
}

.error-text {
    font-size: 24px;
    margin-bottom: 20px;
}

.torch {
    width: 150px;
    animation: flicker 1.5s infinite alternate ease-in-out;
}

@keyframes flicker {
    0% { opacity: 0.6; transform: scale(1); }
    100% { opacity: 1; transform: scale(1.07); }
}
/* fin 404 */
